/* src/App.css */

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body,
.App {
  font-family: 'Poppins', sans-serif;
  background-color: #FEFDF6;
  color: #222222;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  font-weight: 700;
  color: #222222;
}

p {
  font-weight: 400;
  color: #555555;
}

/* Optional: Utility Classes */
.text-center {
  text-align: center;
}

.btn-gradient {
  background: linear-gradient(to right, #EE0979, #FF6A00);
  color: #fff;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.btn-gradient:hover {
  background: linear-gradient(to right, #FF6A00, #EE0979);
}


.friend-btn-purple {
  background: #a96cff;
  color: #fff;
}

.friend-btn-blue {
  background: #1667c7;
  color: #fff;
}

.friend-btn-green {
  background: #13ab5f;
  color: #fff;
}
.friend-btn-purple:hover,
.friend-btn-blue:hover,
.friend-btn-green:hover {
  filter: brightness(1.10);
}
body {
  margin: 0;
  overflow-x: hidden;
}
body {
  margin: 0;
  overflow-x: hidden;
}
.main-content {
  padding-top: 90px;
}
